<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>HRMS</title>
      <!-- Icon attribution : https://www.flaticon.com/free-icon/avatar_147142 -->
      <!-- Bootstrap core CSS -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">   
   </head>
   <body>       
      <!-- Page Content -->
      <div class="container">
         <div class="row" id="div1">
            <div class="col-lg-9">
               <div class="row">
                  <!-- Login form. Taken from https://startbootstrap.com/snippets/login/ -->
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                           <div class="card card-signin my-5">
                              <div class="card-body">
                                 <h5 class="card-title text-center">Sign In</h5>
                                 <form class="form-signin" action="/hrms/login/" method="post">
                                    <!-- {% csrf_token %} -->
                                    <div class="form-label-group">
                                       <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                       <label for="inputEmail">Email address</label>
                                    </div>
                                    <div class="form-label-group">
                                       <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
                                       <label for="inputPassword">Password</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                       <input type="checkbox" class="custom-control-input" id="customCheck1">
                                       <label class="custom-control-label" customCheck1">Remember password</label>
                                    </div>
                                    <div class="custom-control custom-checkbox mb-3">
                                       <input type="checkbox" class="custom-control-input" id="isAdminCheck" name="isAdminCheck">
                                       <label class="custom-control-label"  for="isAdminCheck">Is admin ?</label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                                    <hr class="my-4">
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.row -->
            </div>
            <!-- {% else %}	-->
            <!-- /.row -->
         </div>
         <!-- /.container -->
      </div>
      <!-- Bootstrap core JavaScript -->
      <!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
      <!-- Footer -->
      <footer class="py-5 bg-dark footerfixedbottom">
         <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; https://binitabharati.wordpress.com/ 2019</p>
         </div>
      </footer>
   </body>
</html>